<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
  <head>
    <meta charset="utf-8" />
    <title>Preview</title>
    <style type="text/css">
      code{{white-space: pre-wrap;}}
      span.smallcaps{{font-variant: small-caps;}}
      span.underline{{text-decoration: underline;}}
      div.column{{display: inline-block; vertical-align: top; width: 50%;}}
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-AMS_CHTML-full" type="text/javascript"></script>
  </head>
  <body>
    {}
  </body>
</html>
